.container {
    border: 1px solid;
    background-color: rgb(20, 73, 20);
    width: 700px;
    height: 400px;
    margin: auto;
    display: flex;
    border-radius: 10px;
}  
.title {
    margin-left: 400px;
}

form {
    background-color: white;
    width: 70%;
    height: 80%;
    margin: auto;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
}
form h1{
    margin-left: 50px;
    margin-bottom: 40px;
}

form > div{
    display: block;
    margin: 30px 15px;
} 
form > div > div {
    margin-bottom: 20px;
}

.resultados {
    display: grid;
    grid-template-columns: 30% 40%;
}

.historial {
    margin-top: 0;
    margin-left: 60px;
}

.list{
    text-decoration: none;
    list-style: none;
    margin-left: 15px;
}






